# ********** Global stuff **********

# Mac crap
.DS_Store

# Vim swap files
*.swp

# All build directories and complied classes
build
target
*.class

# For IntelliJ (https://stackoverflow.com/questions/24297331/whats-recommended-gitignore-for-scala-sbt-project-in-intellij-idea)
*.iml
*.ipr
*.iws
.idea
out


# IMDB ratings - I don't think that these should be included in the repository. They downloaded
# from: ftp://ftp.fu-berlin.de/pub/misc/movies/database/ratings.list.gz
resources/ratings.list
