# ********** Global stuff **********

# Mac crap
.DS_Store

# Vim swap files
*.swp

# All build directories and complied classes
build
target
*.class

# For IntelliJ (https://stackoverflow.com/questions/24297331/whats-recommended-gitignore-for-scala-sbt-project-in-intellij-idea)
*.iml
*.ipr
*.iws
.idea
out

